body {
  margin: 0;
}

.spotlight-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding: 40px;
  box-sizing: border-box;
  background: hsl(0deg 0% 0% / 40%);
}

.spotlight-container .card {
  position: relative;
  width: 100%;
  height: 100%;
}

.spotlight-container .card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spotlight-container .card .card-body {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(0deg, black, transparent);
  color: #fff;
}

/* Swiper overrides */
.spotlight-container:not(.swiper-initialized) {
  display: none;
}
.spotlight-container .swiper-wrapper .story-container {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
}
.spotlight-container > .swiper-wrapper > .swiper-slide {
  transition: all 200ms linear;
  transform: scale(0.8);
}
.spotlight-container > .swiper-wrapper > .swiper-slide.swiper-slide-active {
  transform: scale(1);
  background: #fff;
}
.spotlight-container .story-container .swiper-pagination-bullets {
  top: 0;
  bottom: unset;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 12px;
  box-sizing: border-box;
  z-index: 1;
}

.spotlight-container
  .story-container
  .swiper-pagination-bullets
  .swiper-pagination-bullet {
  background: #ababab;
  opacity: 1;
  width: 100%;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.spotlight-container
  .story-container.spotlight-slide-visited
  .swiper-pagination-bullets
  :is(.swiper-pagination-bullet-active, .swiper-pagination-bullet:has(~ .swiper-pagination-bullet-active)) {
  background: #fff; 
}

.spotlight-container
  .spotlight-slide:not(.swiper-slide-active)::after {
    content: '';
    position: absolute;
    background: rgb(0 0 0 / 40%);
    inset: 0;
    z-index: 1;
  }

.spotlight-container
  .spotlight-slide.swiper-slide-active
  .swiper-pagination-bullets
  .swiper-pagination-bullet-active::after {
  content: '';
  background: #ababab;
  position: absolute;
  inset: 0;
  transform-origin: right top;
  transform: scale(var(--story-progress, 1), 1);
}

.spotlight-container .story-container :is(.swiper-button-prev, .swiper-button-next) {
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  margin: 0;
  z-index: 1;
}

.spotlight-container .story-container .swiper-button-next {
  right: 0;
  left: unset;
}

.spotlight-container .story-container :is(.swiper-button-prev, .swiper-button-next)::after {
  content: '';
}