@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// Colors
$-color-bullets: rgba(255, 255, 255, 0.5);
$-color-active-bullets: #fff;
$-color-gradient-primary: linear-gradient(45deg, #FF9800, #E91E63, #673AB7);

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

// popup
.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: #313131;
  z-index: 2;

  &.active {
    display: block;
  }

  .close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;

    span {
      display: none;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70%;
      height: 2px;
      background-color: #fff;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  @media screen and (max-width: 768px) {
    .close {
      top: 8px;
      right: 8px;
    }
  }
}

// Spotlight card
.spotlight-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  cursor: pointer;

  .image {
    padding: 4px;
    width: 120px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    background: $-color-gradient-primary;

    img {
      background: #5f5f5f;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }
}

// Story card
.story-card {
  position: relative;
  width: 100%;
  height: 100%;

  .card-image {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// Trigger elements for spotlight stories
.spotlight-slider {
  padding: 20px;
}

.spotlight-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  padding: 40px;
  box-sizing: border-box;

  // Hide spotlight container while swiper is initializing
  &:not(.swiper-initialized) {
    display: none;
  }

  // Spotlight slide
  .spotlight-slide {
    transition: all 200ms linear;
    transform: scale(0.8);

    .title {
      color: $-color-active-bullets;
      position: absolute;
      top: 40px;
      left: 20px;
      z-index: 2;
      font-size: 20px;
    }
    
    &.swiper-slide-active {
      transform: scale(1);
      background: #ddd;
    }

    // Show overlay on inactive slides
    &:not(.swiper-slide-active){
      &::after {
        content: '';
        position: absolute;
        background: rgb(0 0 0 / 40%);
        inset: 0;
        z-index: 1;
      }

      // Show progress on currently active pagination bullet
      .swiper-pagination-bullet-active::after {
        display: none;
      }
    }
  }

  // Story slider
  .story-container {
    overflow: hidden;
    height: 100%;
    max-height: 100%;

    // Story slider - Progress
    .swiper-pagination-bullets {
      top: 0;
      bottom: unset;
      display: flex;
      justify-content: space-between;
      gap: 8px;
      padding: 12px;
      box-sizing: border-box;
      z-index: 1;

      .swiper-pagination-bullet {
        background: $-color-bullets;
        opacity: 1;
        width: 100%;
        border-radius: 4px;
        position: relative;
        overflow: hidden;

        &:only-child {
          display: inline-block !important; 
        }
      }

      // Show progress on currently active pagination bullet
      .swiper-pagination-bullet-active::after {
        content: '';
        background: $-color-active-bullets; 
        position: absolute;
        inset: 0;
        transform-origin: left top;
        transform: scale(var(--story-progress, 1), 1);
      }
    }

    // Select active pagination bullet and all previous bullets
    &.spotlight-slide-visited
      .swiper-pagination-bullets
      .swiper-pagination-bullet:has(~ .swiper-pagination-bullet-active) {
      background: $-color-active-bullets; 
    }

    // Story slider - Navigation
    :is(.swiper-button-prev, .swiper-button-next) {
      top: 0;
      left: 0;
      margin: 0;
      width: 50%;
      height: 100%;
      z-index: 1;

      // Hide default arrows
      &::after {
        content: '';
      }
    }
    .swiper-button-next {
      right: 0;
      left: unset;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0;

    .story-container {
      .swiper-pagination-bullets {
        top: 8px;
        width: calc(100% - 40px);
      }
    }
  }
}